<header>
    <img src="" alt="Logo" />
    <h1>Kyle Coberly</h1>
    <p>Web app developer, business nerd.</p>
    <nav>
        <ul>
            <li><a href="#about-me">About Me</a></li>
            <li><a href="#blog">Blog</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
        </ul>
    </nav>
    <main>
        <section id="about-me">
            <h2>About Me</h2>
            <p>Here's a bit about my background</p>
            <ul>
                <li>Accomplishment 1</li>
                <li>Accomplishment 2</li>
                <li>Accomplishment 3</li>
            </ul>
            <ul>
                <li><img src="" alt="picture-1" /></li>
                <li><img src="" alt="picture-2" /></li>
                <li><img src="" alt="picture-3" /></li>
            </ul>
        </section>
        <section id="blog">
            <h2>Blog</h2>
            <article>
                <header>
                    <h1>Article Header</h1>
                    <time>2/18/2015</time>
                    <details>
                        <summary>Do this this and this</summary>
                        <p>Here's even more about this.</p>
                    </details>
                </header>
                <main>
                    <p>Here's the article text</p>
                </main>
                <footer>
                    <address><a href="mailto:kyle@kylecoberly.com">Kyle Coberly</a></address>
                    <small>&copy; 2005</small>
                </footer>
            </article>
            <article>
                <header>
                    <h1>Article Header 2</h1>
                    <time>6/18/2015</time>
                    <details>
                        <summary>Do this this and this</summary>
                        <p>Here's even more about this.</p>
                    </details>
                </header>
                <main>
                    <p>Here's some more article text</p>
                </main>
                <footer>
                    <address><a href="mailto:kyle@kylecoberly.com">Kyle Coberly</a></address>
                    <small>&copy; 2015</small>
                </footer>
            </article>
        </section>
        <section id="portfolio">
            <h2>Portfolio</h2>
            <ul>
                <li>
                    <img src="" alt="screenshot-1" />
                    <h3>Title 1</h3>
                    <p>Screenshot 1</p>
                </li>
                <li>
                    <img src="" alt="screenshot-2" />
                    <h3>Title 2</h3>
                    <p>Screenshot 2</p>
                </li>
                <li>
                    <img src="" alt="screenshot-3" />
                    <h3>Title 3</h3>
                    <p>Screenshot 3</p>
                </li>
            </ul>
        </section>
    </main>
</header>
