.presentations {
    position: relative;
    max-width: 40rem;
    h2 {
        display: none;
    }
    h3 {
        @include header-type;
    }
    ul {
        li {
            &:not(:first-child) {
                margin-top: 2rem;
            }
            address {
                @include metadata-type;
            }
            .summary {
                margin-top: 1rem;
                @include short-form-readable-type;
            }
            a {
                @include subheader-type;
                line-height: 1.2;
                color: $link;
                &:visited {
                    color: $visited;
                }
            }
            img {
                width: 100%;
                box-shadow: 2px 2px 1px $dark-grey;
                margin-bottom: 1rem;
            }
        }
    }
}
